<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon API</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<form action="/api/handle-upload" method="post" enctype="multipart/form-data">
    <br>
    Choose a file for upload. It must be a CSV or Excel file with two columns: From and To.
    <br>
    <input type="file" name="data">
    <br>
    <input type="submit" value="Calculate">
</form>
<body>

</body>
</html>